/*A free products display templaate by http://www.jquery-az.com/
/* Typography
----------------------------------------------------------------------------- */

body {
    height: 100%;
    font-family: 'Poiret One', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;    
    background-color: white;
}

/*Headings style*/
h1 {
	color: pink;
    font-size: 34px;
	font-weight: 900;
	margin-bottom: 30px;
}
h1 span
{
	color: black;
}
.outdiv{
    background-color:white !important;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.sub-headers {
    margin-bottom: 30px;
    font-family: 'Indie Flower', sans-serif;
    margin-top: 20px;
    font-size: 24px;
    font-weight:500;
}
.section {
	background-color: black;
	padding: 10px 0;
}




/*Displaying special products */
.speciality {
    margin: 5% auto 0 auto;
    width: 85%;
}
.spe-prods {
    float: left;
    width: 24%;
    text-align: left;
    margin-right: 0.5%;
    margin-bottom: 1%;
    border: 0px solid #eee;
    transition: all 0.3s ease-in !important;
}

.spe-prods p {
    color: #3ec2df;
    font-weight: 550;
}

.spe-prods:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.spe-prods a:hover {
    text-decoration: none !important;

}

.spe-prods a:hover h3{
    text-decoration: none !important;
    color: #3ec2df;


}

.mainbox {
    background: white;
    height:385px;
    padding: 1em;
    width:100%;
    position: relative;
}
.mainbox h3 {
    font-size: 1.2em;
    color: #404040;
    text-transform: capitalize;
    font-weight: 400;
	font-family: 'Georgia', serif;
    transition: all 0.3s ease-in !important;
    text-decoration:none;


    background: white; /* For browsers that do not support gradients */
/*  background: -webkit-linear-gradient(left,rgba(104,55,23,0.9), rgba(61,45,39,0.1)); /*Safari 5.1-6*/
/*  background: -o-linear-gradientrgba(104,55,23,0.9), rgba(61,45,39,0.1)); /*Opera 11.1-12*/
/*  background: -moz-linear-gradientrgba(104,55,23,0.9), rgba(61,45,39,0.1)); /*Fx 3.6-15*/
/*  background: linear-gradient(to right, rgba(104,55,23,0.9), rgba(61,45,39,0.1)); /*Standard*/

}






.buybtn {
   font-size: .85em;

    padding: 1em 1em;
    background: black;
    color: white;
    display: block;
    width: 40%;
    margin: 1.5em auto 0;
    border-radius: 0px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;


}
a.buybtn {
   font-size: .85em;

    padding: 1em 1em;
    background: #f2f2f2;
    color: #404040;
    display: block;
    width: 40%;
    margin: 1.5em auto 0;
    border-radius: 0px;
    font-weight: 700;
    text-decoration:none;
    letter-spacing: 1px;
    margin-left: 0px;
    margin-bottom: 0px;
    transition: all 0.3s ease-in;
    position: absolute;
    bottom: 10px;
}
a.buybtn:hover {
    background: #3ec2df;
    color: white;
}
.spe-prods:nth-child(4) {
    margin-right: 0;
}

	/**responsive**/

@media(max-width:1366px){
a.buybtn {
    width: 58%;
}
}
@media(max-width:1280px){
a.buybtn {
    width: 68%;
}
}
@media(max-width:1080px){
.pricing-table {
    margin: 5% auto 0 auto;
    width: 80%;
}

a.buybtn {
    font-size: .8em;
}
}
@media(max-width:991px){
.spe-prods {
    float: left;
    width: 32%;
}
.spe-prods-table {
    margin: 5% auto 0 auto;
    width: 98%;
}

a.buybtn {
    width: 74%;
}
}
@media(max-width:640px){
.spe-prods {
    float: left;
    width: 49%;
}


.spe-prods:nth-child(2) {
    margin-right: 0;
}
.spe-prods:nth-child(3) {
    margin-top: .5em;
}
.spe-prods:nth-child(4) {
    margin-top: .5em;
}
a.buybtn {
    width: 55%;
}

}
@media(max-width:480px){
.price-bottom ul li {
    font-size: .9em;
}
.spe-prods {
    width: 50%;
    margin-left:-40px;
    width: 250px;
}
}
@media(max-width:320px){
.spe-prods {
    
    margin-left:-50px;
    width: 250px;
    
}


.spe-prods:nth-child(2) {
    margin-top: 1em;
}
.spe-prods:nth-child(3) {
    margin-top: 1em;
}
.spe-prods:nth-child(4) {
    margin-top: 1em;
}

a.buybtn {
    width: 60%;
    font-size: .79em;
}
}